systemLog:
  destination: file
  logAppend: true
  path: /var/log/mongodb/mongod.log

storage:
  dbPath: /var/lib/mongo
  journal:
    enabled: true
  engine: {{ mongodb.engine }}

processManagement:
  fork: true  # fork and run in background
  pidFilePath: /var/run/mongodb/mongod.pid  # location of pidfile

net:
  port: {{ mongodb.port }}
{% if mongodb.listen == 'loopback' %}
  bindIp: 127.0.0.1
{% endif %}
{% if mongodb.listen == 'intip' %}
  bindIp: 127.0.0.1,{{ network.intif.ip }}
{% endif %}

security:
  authorization: {{ mongodb.auth }}
{% if mongodb.auth == 'enabled' and mongodb.keyfile != 'none' %}
  keyFile: {{ mongodb.keyfile }}
{% endif %}

{% if mongodb.replSet != 'none' %}
replication:
  replSetName: {{ mongodb.replSet }}
{% endif %}
